form{
  .form-group{
    padding-bottom: 18px;
    text-align: left;
    label{
      text-align: left;
      color: $font-main-p-color;
      display: block;
      font-size: 16px;
      padding-bottom: 3px;
    }
    input, textarea{
      width: 97%;
      border-radius: $border-radius;
      border: 1px solid $bg-color;
      padding: 4px;
      font-size: 16px;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      &:focus {
        border-color: #003da4;
        box-shadow: 0 0 0 .1rem rgba(1, 110, 224, 0.42);
      }
    }
    input.invalid, textarea.invalid{
      margin-bottom: 5px;
      border: 1px solid red;
      &:focus {
        border-color: #d90000;
        box-shadow: 0 0 0 .1rem rgba(246, 0, 0, 0.42);
      }
    }
    input{
      height: 30px;
    }
    span.invalid{
      color: red;
    }
  }
}
