* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

#app{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

textarea{
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.ta-c{
  text-align: center;
}

.container{
  width: 80%;
  margin: auto;
}

h2, h2 a{
  color: $font-main-title-color;
  margin-bottom: $spacement-between;
}

p{
  color: $font-secondary-title-color;
}

.content{
  color: $font-secondary-title-color;
  font-size: 16px;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section{
  color: $font-main-title-color;
  text-align: center;
  margin-bottom: 40px;
  .title{
    font-size: 24px;
  }
}

.section-main{
  text-align: center;
  margin-bottom: 70px;
  h2{
    font-size: 36px;
  }
}

.sm-separator{
  height: 2px;
  background: $font-underlined-color;
  width: 40%;
  margin: 14px auto;
}

.lg-separator{
  height: 1.5px;
  background: #86a1cd;
  width: 80%;
  margin: 90px auto;
}

.yellow-hook{
  font-size: 40px;
  background: linear-gradient(91.36deg, #B1A600FF 0%, #B1A600FF 13.02%, #f6f666 25.52%, #EEE781FF 37.5%, white 49.48%, #EEE781FF 63.02%, #f6f666 72.92%, #B1A600FF 84.38%, #86b4ff 97.92%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-animation: intro-gradient 7s infinite ease both;
  -moz-animation: intro-gradient 7s infinite ease both;
  animation: intro-gradient 7s infinite ease both;
}

.blue-hook{
  background: linear-gradient(91.36deg, #00143d 0%, #00276c 13.02%, #003188 25.52%, rgb(0, 49, 145) 37.5%, #003abb 49.48%, #1361de 63.02%, #3e89ff 72.92%, #4389ff 84.38%, #86b4ff 97.92%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-animation: intro-gradient 7s infinite ease both;
  -moz-animation: intro-gradient 7s infinite ease both;
  animation: intro-gradient 7s infinite ease both;
}

.animated-underline{
  --animatedUnderlineHeight: 0.3rem;
  --animatedUnderlineBgColor: #f6f666;

  --uiAnimatedUnderlineWidth: var(--animatedUnderlineWidth, 100%);
  --uiAnimatedUnderlineHeight: var(--animatedUnderlineHeight, 100px);
  --uiAnimatedUnderlineBgColor: var(--animatedUnderlineBgColor, currentColor);
  --uiAnimatedUnderlinePositionX: var(--animatedUnderlinePositionX, left);
  --uiAnimatedUnderlinePositionY: var(--animatedUnderlinePositionY, bottom);
  --animatedUnderlineWidth: 100%;

  --rLinkDisplay: inline;

  background-image: linear-gradient(0, var(--uiAnimatedUnderlineBgColor) 0, var(--uiAnimatedUnderlineBgColor));
  background-size: var(--uiAnimatedUnderlineWidth) var(--uiAnimatedUnderlineHeight);
  background-position: var(--uiAnimatedUnderlinePositionX) var(--uiAnimatedUnderlinePositionY);
  background-repeat: no-repeat;

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;

  will-change: background-size;
  transition: background-size .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.animated-underline:hover{
  --animatedUnderlineHeight: 90%;
}

@keyframes intro-gradient {
  0% {
    background-position:0 4%;
  }
  50% {
    background-position: 100% 97%;
  }
  100% {
    background-position:0 4%;
  }
}

@-webkit-keyframes intro-gradient {
  0% {
    background-position:0 4%;
  }
  50% {
    background-position: 100% 97%;
  }
  100% {
    background-position:0 4%;
  }
}

@-moz-keyframes intro-gradient {
  0% {
    background-position:0 4%;
  }
  50% {
    background-position: 100% 97%;
  }
  100% {
    background-position:0 4%;
  }
}

@media (min-width: 276px) and (max-width: 859px){
  .cta{
    display: flex!important;
    flex-direction: column!important;
    button{
      margin-right: 0;
    }
  }
}
