$main-color: #04389f;
$font-main-title-color: #2d2d2d;
$font-secondary-title-color: #5e5e5e;
$font-underlined-color: #f6f666;
$font-main-p-color: #5e5e5e;
$font-wbg-color: white;
$font-wbg-hover-color: #F6F666FF;
$bg-color: #04389f;
$bg-radient: linear-gradient(90deg, rgb(3, 42, 102) 0%, rgba(4,56,159,1) 43%, rgba(4,56,159,1) 100%);
$margin-top-main: 30px;
$spacement-between: 24px;
$separator-color: #e2e2e2;
$border-radius: 2px;
