$color: #04389f;
$font-color: grey;
$font-wbg-color: white;
$font-wbg-hover-color: rgba(253, 253, 253, 0.56);
$bg-color: #04389f;
$bg-radient: linear-gradient(90deg, rgb(3, 42, 102) 0%, rgba(4,56,159,1) 43%, rgba(4,56,159,1) 100%);
